#title {
    font-weight: 700;
}

#userPanel{
    padding-bottom: 30px;
}

#descText{
    font-weight: normal;
    font-style: italic;
    font-size: smaller;
    alignment: center;
    margin: auto;
}

#userIdentifier{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    alignment: center;
    font-style: italic;
}

#questionContentPanel{
    padding-top: 30px;
}

#option{
    padding-right: 50px;
}

#quiz_list>ul>li:hover{
    color: #007bff;
    cursor: pointer;
    background-position: 100% 100%;
    transition: color 0.2s ease-in-out;
}

#quiz_list>ul>div>li>div>h4:hover{
    color: #007bff;
    cursor: pointer;
    background-position: 100% 100%;
    transition: color 0.2s ease-in-out;
}

#description_row{
    padding-bottom: 25px;
}

#logoutButton{
    alignment: right;
}

.jumbotron{
    white-space: nowrap;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
